<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Places</title>
    <link rel="icon" type="image/png" href="static/images/icon.png">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <img src="../static/images/vacationrental.png" alt="HBnB List of places" class="logo">
    </header>

    <nav>
        <a href="index.html">Home</a>
        <a href="login.html">Login</a>
    </nav>

    <main>
        <div class="place-cards-grid">
            <div class="place-card">
                <img src="../static/images/ghiblihouse1.png" alt="HBnB List of Places">
                <h3>Japanese-style lofi house</h3>
                <p>$450 per night</p>
                <button class="details-button" data-place-id="1">View Details</button> 
                <!-- Add this to database - place-id -->
            </div>
            <div class="place-card">
                <img src="../static/images/ghiblihouse2.png" alt="HBnB List of Places">
                <h3>Isolated lofi farm house</h3>
                <p>$250 per night</p>
                <button class="details-button" data-place-id="1">View Details</button> 
                <!-- Add this to database - place-id -->
            </div>
            <div class="place-card">
                <img src="../static/images/ghblihouse3.png" alt="HBnB List of Places">
                <h3>Isolated lofi forest house</h3>
                <p>$150 per night</p>
                <button class="details-button" data-place-id="1">View Details</button> 
                <!-- Add this to database - place-id -->
            </div>
        <section class="filters">
            <select id="price-filrer">
                <option value="all">All Prices</option>
                <option value="low">Low</option>
                <option value="medium">Medium</option>
                <option value="high">High</option>
            </select>
            </form>
        </section>
    </main>
    <footer>
        <p>© 2024 Holberton Bed and Breakfast</p>
    </footer>
        <script src="scripts.js"></script>
</body>
</html>
