<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place Details</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <main>
        <section class="place-details">
            <div class="place-info"></div>
            <br>
            <p>Place</p> 
            <br>
            <p>Host</p>
            <br>
            <p>Price</p>
            <br>
            <p>Description</p>
            <br>
            <ul>
                <li id="1">Amenities</li>
                <li id="1">Amenities</li>
                <li id="1">Amenities</li>
            </ul>
            <!-- Place details will be populated dynamically -->
        </section>
        <section class="reviews">
            <div class="review-card">
                <br>
                <p>Comment</p>
                <br>
                <p>Username</p>
                <br>
                <p>Rating</p>
                <br>
                <button><a href="#"></a>Add Review</button>
            </div>
            <!-- Reviews will be populated dynamically -->
        </section>
        <section id="add-review">
            <h2>Add a Review</h2>
            <form id="review-form">
                <label for="review-text">Review:</label>
                <textarea id="review-text" name="review-text" required></textarea>
                
                <button type="submit">Submit</button>
                <a href="place.html">Place Details</a>
            </form>
        </section>
    </main>
    <script src="scripts.js"></script>
</body>
</html>