<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Places</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            {% if not is_authenticated %}
                <a href="/login">Login</a>
            {% else %}
                <a href="/logout">Logout</a>
                <a href="/dashboard">Dashboard</a>
            {% endif %}
        </nav>
    </header>

    <main>
        <section class="filters">
            <form action="/" method="GET">
                <select name="price" onchange="this.form.submit()">
                    <option value="all" {% if selected_price = 'all' %}selected{% endif %}>All Prices</option>
                    <option value="low" {% if selected_price = 'low' %}selected{% endif %}>Low</option>
                    <option value="medium" {% if selected_price = 'medium' %}selected{% endif %}>Medium</option>
                    <option value="high" {% if selected_price = 'high' %}selected{% endif %}>High</option>
            </select>
            </form>
        </section>
        <section id="places-list">
            <div class="place-card"></div>
            <p>Name<br><img src="static/images/icon.png">
            </p>
            <p>Price</p>

            <button class="details-button">View Details</button>
            <!-- List of places will be populated dynamically -->
        </section>
    </main>
    <!-- script src="scripts.js"></script -->
</body>
</html>